<div class="container">
    <form [formGroup]="myForm"  (submit)="onSubmit(myForm.value)">
        <div class="card">
            <div class="card-header">
                <div *ngIf="isEdit; else elseBlock"><h2>Edit List</h2></div>
                <ng-template #elseBlock><h2>Add List</h2></ng-template>
            </div>
            <div class="card-body">
                <input type="hidden" formControlName="$key">
                <input type="hidden" formControlName="isDone">
                <mat-form-field>
                    <input matInput #listName formControlName="listName" placeholder="List"  >
                </mat-form-field>
            </div>
            <div class="card-footer">
                <button type="submit" mat-flat-button color="primary" style="width: 100%;" >Submit</button>
            </div>
        </div>
    </form>
</div>
